@import url(../root.css);

/**-------------Header------------*/

header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    border-bottom: 2px solid var(--black);
    min-height: 7rem;
}

.cart-shoping {
    width: 4.7rem;
    cursor: pointer;
}

.logo,
.container-icon {
    display: flex;
    justify-content: center;
    font-size: 2.8rem;
    align-items: center;
}

.container-icon {
    width: 7rem;
}

.logo p {
    margin-left: 0rem;
}

.back-icon {
    width: 4rem;
    cursor: pointer;
}


/**-------------Main------------*/

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 91vh;
}

.product-container {
    display: flex;
    flex-direction: column;
    width: 42rem;
    min-width: 41rem;
    margin: 2rem auto;
}

.product-container img {
    width: 100%;
    height: 42rem;
    min-width: 41rem;
    min-height: 41rem;
    object-fit: cover;
    border: 2px solid var(--gray);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.product-container p {
    font-size: var(--lg);
    font-weight: bold;
    margin: 1rem 0 0 1rem;
}

.product-container h2 {
    font-size: var(--md);
    font-weight: lighter;
    margin: 1rem 0 0 1rem;
}

.product-container figcaption {
    font-size: var(--sm);
    margin: 1rem 0 0 1rem;
    font-weight: lighter;
    text-align: justify;
    overflow: hidden;
    white-space: wrap;
}

.btn-add {
    border: 2px solid var(--black);
    background-color: transparent;
    height: 4.8rem;
    width: 93.335%;
    margin: 0 auto 1rem;
    min-width: 420px;
    display: grid;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
    font-size: var(--lg);
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.btn-add span {
    margin: auto 0;
}

.btn-add img {
    width: 2.5rem;
    height: 2.5rem;
    margin: auto 0 auto 1rem;
}