main {
    grid-template-columns: repeat(auto-fill, 20rem);
    gap: 3rem 5rem;
    place-content: center;
}


/**----------cards_products------------*/

.product-container {
    width: 20rem;
    height: 30rem;
    border: 3px solid var(--lightGray);
}