/**----------Form----------*/

label {
    padding: 0;
}

.input-box {
    width: 450px;
}

.btn {
    border: 1.5px solid var(--colorBrd);
}

.submit {
    margin-top: 3.5rem;
    min-width: 195px;
    width: 30rem;
}

.btn-login {
    min-width: 326px;
    width: 40rem;
    margin: 0 2rem 2rem 2rem
}