:root {
    --font: 'Noto Sans', sans-serif;
    --gray: #05595B;
    --black: #062C30;
    --lightGray: #E2D784;
    --placeHolder: #878789;
    --blue: rgb(16, 69, 155);
    --colorBrd: #F5F5F5;
    --smest: 1.2rem;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}


/*1.8 rem = 18px*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: var(--font);
    background-color: var(--black);
    color: var(--lightGray);
}


/*----------fonts------------*/

.fontTitle {
    font-family: var(--font);
    font-weight: bold;
}

.fontText {
    font-family: var(--font);
    font-size: var(--md);
    font-weight: medium;
}

.fontButtons {
    font-family: var(--font);
    font-size: var(--sm);
    font-weight: bold;
}

.fontPlaceHolder {
    font-family: var(--font);
    font-size: 1.2vmax;
    font-weight: bolder;
}