@import url(../root.css);

/**----------Header------------*/

header {
    display: grid;
    grid-template-columns: auto 1fr;
    border-bottom: 2px solid var(--colorBrd);
    min-height: 7rem;
    margin-bottom: 3.5rem;
    min-width: 600px;
}

.back-icon {
    width: 4rem;
    cursor: pointer;
}

.logo,
.container-icon {
    display: flex;
    justify-content: center;
    font-size: 2.8rem;
    align-items: center;
}

.container-icon {
    width: 7rem;
}

.logo p {
    margin-right: 6rem;
}


/**----------Main------------*/

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85vh;
}

main {
    display: flex;
    flex-direction: column;
}

.box-product {
    border: 2px solid var(--black);
    height: 10rem;
    width: 93.335%;
    margin: 0 auto;
    min-width: 420px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    place-content: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 2rem;
}

.box-product div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-product .description p {
    font-size: var(--sm);
}

.box-product .price p {
    font-size: var(--lg);
    margin-right: 1rem;
    font-weight: bold;
}

.box-product div img {
    width: 10rem;
    height: 9.5rem;
    object-fit: cover;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


/**----------Footer------------*/

.checkout {
    border: 2px solid var(--gray);
    height: 7rem;
    width: 93.335%;
    margin: 0 auto;
    min-width: 420px;
    display: grid;
    grid-template-columns: 1fr auto;
    place-content: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.checkout p {
    font-size: var(--lg);
    margin: 0 2rem;
    font-weight: bold;
}

.btn-buy {
    border: 2px solid var(--colorBrd);
    background-color: var(--gray);
    height: 4.8rem;
    width: 93.335%;
    margin: 0 auto;
    min-width: 420px;
    display: grid;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 0rem;
    cursor: pointer;
    font-size: var(--lg);
    font-weight: bold;
    color: var(--colorBrd);
}