:root {
    --font: 'Noto Sans', sans-serif;
    --gray: #c7c7c7;
    --black: #2b2b2b;
    --lightGray: #E4E4E4;
    --placeHolder: #878789;
    --colorBrd: black;
    --smest: 1.2rem;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: var(--font);
}


/*----------fonts------------*/

.fontTitle {
    font-family: var(--font);
    font-weight: bold;
}

.fontText {
    font-family: var(--font);
    font-size: var(--md);
    font-weight: medium;
}

.fontButtons {
    font-family: var(--font);
    font-size: var(--sm);
    font-weight: bold;
}

.fontPlaceHolder {
    font-family: var(--font);
    font-size: 1.2vmax;
    font-weight: bolder;
}


/**----------Header------------*/

header {
    display: grid;
    grid-template-columns: 1fr auto;
    border-bottom: 2px solid var(--black);
    min-height: 7rem;
}

.cart-shoping {
    width: 4.7rem;
}

.logo,
.container-icon {
    display: flex;
    justify-content: center;
    font-size: 2.8rem;
    align-items: center;
}

.container-icon {
    width: 7rem;
}

.logo p {
    margin-left: 7rem;
}


/**----------Container Search------------*/

.container-search {
    display: flex;
    justify-content: center;
}

.container-search input {
    margin: 1.7rem 0 3rem;
    width: 90%;
    height: 4rem;
    background-color: var(--lightGray);
    text-align: center;
    font-size: var(--md);
    border: 7px solid #f7f7f7;
}