/**-------------Main------------*/

.product-container {
    width: 54rem;
}

.product-container img {
    width: 100%;
    height: 50rem;
    object-fit: cover;
}

.btn-add {
    height: 5rem;
    margin: 1rem auto 1rem;
    max-width: 54rem;
}

.btn-add span {
    margin: auto 0;
}

.btn-add img {
    width: 2.6rem;
    height: 2.6rem;
    margin: auto 0 auto 1.5rem;
}