/**----------Main------------*/

main {
    grid-template-columns: repeat(auto-fill, 22rem);
    gap: 5rem;
}


/**----------cards_products------------*/

.product-container {
    width: 22rem;
    height: 32rem;
}

.product-container a img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}